* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 120%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #504946;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000;
}

#container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#main_header {
    clear: left;
    padding-top: 15px;
    padding-bottom: 5px;
}

#pr {
    float: right;
}

#title_logo {
    float: left;
}

#navi {
    clear: left;
    height: 50px;
}

#navi ul {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}

#navi li {
    display: inline-block;
    padding-right: 25px;
}

#copyright {
    text-align: center;
    font-size: 12px;
    color: #d4d9dc;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contents {
    overflow: hidden;
    position: relative;
    top: 445px;
}

#about li {
    float: right;
    display: inline;
    font-size: 14px;
    padding-left: 20px;
}

#about li a {
    font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
    color: #2f4f4f;
    text-decoration: underline;
}

#about li a:hover {
    color: #fffafa;
}

#about ul {
    overflow: hidden;
}

#about {
    padding-top: 23px;
    height: 30px;
}

body {
    background-image: url(image/top_background.jpg);
    background-repeat: repeat-x;
}

#footer {
    clear: both;
    background-color: #6f5436;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
    top: 500px;
    bottom: 0;
}

#footer_area {
    overflow: hidden;
    width: 610px;
    margin: 0 auto;
}

.last {
    border-right: 1px solid #fff;
}

#text_link ul {
    padding-top: 10px;
    width: 700px;
}

#text_link ul li {
    display: inline-block;
    border-left: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
}

#text_link ul li a {
    color: #FFF;
    text-decoration: underline;
}

#footer_text {
    width: 380px;
    padding-top: 20px;
}

#name {
    font-size: 25px;
    float: left;
    color: #fff;
    font-weight: bold;
}

#access {
    float: right;
}

#access p {
    color: #fff;
}